
.wrapper{
  overflow: hidden;
  background-color:  #000814;
  height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.svgcontainer {
  height: 70vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes pulsate {
  0% {
      transform: scale(1);
      opacity: 1;
      fill: #196A0b;
  }
  40% {
      transform: scale(1.01);
  }
  50% {
      transform: scale(1.02);
      fill: #4DDE11;
  }
  80% {
      transform: scale(1.01);
  }
  100% {
      transform: scale(1);
      fill: #196A0b;
  }
}

@keyframes stopPulsate {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  100% {
      transform: scale(1.01);
      opacity: 1;
      fill: #4DDE11;
  }
}

.svgpath {
  animation-name: pulsate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: center;
}

.svgcontainer:hover .svgpath {
  animation-name: stopPulsate;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1; 
  animation-timing-function: ease-in-out;
}

.logotext {
  height: 20vh;
  width: 10vw;
  margin-top: 5rem;
  margin-left: 7rem;
  text-align: center;
  color: #4DDE11;
  font-family:"Comic Sans MS", cursive;
  font-size: 200%;
  transform: translate(-50%, -50%) scale(0); 
  opacity: 0; 
  transition: opacity 0.5s ease, transform 1.5s ease; 
}
.svgcontainer:hover .logotext {
  transform: translate(-50%, -50%) scale(1); 
  opacity: 1; 
}

.svgcontainer:not(:hover) .logotext {
  opacity: 0; 
}